.bread{
    width: 1200px;
    margin: auto;
    padding: 15px 0;
    border-top: 1px solid #e5e5e5;
}
.bread>a{
    color: #464646;
}
.bread>a:after {
    position: relative;
    top: 1px;
    content: "\f105";
    width: 18px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: #a2a2a2;
    font-family: FontAwesome;
    margin: 0 3px;
}
.bread>a:last-child:after{
    display: none;
}
.bread>a:focus,.bread>a:hover{
    text-decoration: none;
}
.section{
    background: #cfeaf5;
    padding: 30px 0;
}
.order-content{
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.order-aside{
    width: 190px;
    height: 320px;
    background: #fff;
    float: left;
    padding-top: 40px;
}
.order-section{
    width: 990px;
    float: right;
}
.order-aside-title{
    font-size: 17px;
    font-weight: bold;
    color: #000;
    padding-left: 60px;
    margin-bottom: 20px;
}
.order-aside-list>li{
    padding-left: 60px;
    height: 30px;
    line-height: 30px;
    color: #4e4e4e;
    font-size: 14px;
    cursor: pointer;
    border-left: 4px solid transparent;
    margin-bottom: 15px;
}
.order-aside-list>li:last-child{
    margin-bottom: 0;
}
.order-aside-list>li.order-aside-active{
    border-left: 4px solid #2799cf;
    color: #2799cf;
}
.order-section>li{
    width: 100%;
    height: 210px;
    background: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.order-section>li:last-child{
    margin-bottom: 0;
}
.order-section>li:hover{
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.order-section-header{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 15px;
    color:#585657;
}
.margin-30{
    margin-left: 30px;
}
.order-section-content{
    height: 160px;
}
.order-img{
    padding: 15px;
    height: 160px;
    width: 203px;
}
.order-img>img{
    width: 173px;
    height: 130px;
}
.order-room{
    width: 487px;
    height: 160px;
    border-right: 1px solid #e4e4e4;
    padding: 25px 15px;
    color: #424242;
}
.order-price{
    position: relative;
    height: 160px;
    width: 168px;
    border-right: 1px solid #e4e4e4;
}
.order-operation{
    position: relative;
    height: 160px;
    width: 132px;
}
.order-room>h4{
    color: #000;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: bold;
}
.order-room-type{
    margin-bottom: 15px;
}
.order-price-box{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0,-50%);
}
.order-price-tips{
    margin-top: 5px;
    color: #909090;
}
.order-price-num{
    color: #ee5c67;
    font-size: 17px;
    font-weight: 600;
}
.order-operation-box{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0,-50%);
}
.order-operation-box>li{
    margin-bottom: 15px;
}
.order-operation-box>li>span{
    color: #50a0e7;
    cursor: pointer;
}
.order-operation-box>li:last-child{
    margin-bottom: 0;
}
.order-operation-box>li>.order-operation-btn{
    display: block;
    height: 26px;
    width: 86px;
    margin: auto;
    line-height: 26px;
    background: #f66061;
    color: #fff;
    cursor: pointer;
}
.payment-deadline{
    color: #f46263;
    margin-right: 30px;
}
.payment-deadline i{
    margin-right: 5px;
}
.footer{
    margin-top: 0;
}