.bread{
    width: 1200px;
    margin: auto;
    padding: 15px 0;
    border-top: 1px solid #e5e5e5;
}
.bread>a{
    color: #464646;
}
.bread>a:after {
    position: relative;
    top: 1px;
    content: "\f105";
    width: 18px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: #a2a2a2;
    font-family: FontAwesome;
    margin: 0 3px;
}
.bread>a:last-child:after{
    display: none;
}
.bread>a:focus,.bread>a:hover{
    text-decoration: none;
}
.section{
    background: #cfeaf5;
    padding-top: 30px;
}
.order-content{
    width: 1200px;
    margin: auto;
    padding-bottom: 30px;
    overflow: hidden;
}
.order-aside{
    width: 190px;
    height: 320px;
    background: #fff;
    float: left;
    padding-top: 40px;
}
.order-section{
    width: 990px;
    float: right;
}
.order-aside-title{
    font-size: 17px;
    font-weight: bold;
    color: #000;
    padding-left: 60px;
    margin-bottom: 20px;
}
.order-aside-list>li{
    padding-left: 60px;
    height: 30px;
    line-height: 30px;
    color: #4e4e4e;
    font-size: 14px;
    cursor: pointer;
    border-left: 4px solid transparent;
    margin-bottom: 15px;
}
.order-aside-list>li:last-child{
    margin-bottom: 0;
}
.order-aside-list>li.order-aside-active{
    border-left: 4px solid #2799cf;
    color: #2799cf;
}
.order-section>li{
    width: 100%;
    height: 210px;
    background: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.order-section>li:last-child{
    margin-bottom: 0;
}
.order-section>li:hover{
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.order-section-header{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 15px;
    color:#585657;
}
.margin-30{
    margin-left: 30px;
}
.order-section-content{
    height: 160px;
}
.order-img{
    padding: 15px;
    height: 160px;
    width: 203px;
}
.order-img>img{
    width: 173px;
    height: 130px;
}
.order-room{
    width: 487px;
    height: 160px;
    border-right: 1px solid #e4e4e4;
    padding: 25px 15px;
    color: #424242;
}
.order-price{
    position: relative;
    height: 160px;
    width: 168px;
    border-right: 1px solid #e4e4e4;
}
.order-operation{
    position: relative;
    height: 160px;
    width: 132px;
}
.order-room>h4{
    color: #000;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: bold;
}
.order-room-type{
    margin-bottom: 15px;
}
.order-price-box{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0,-50%);
}
.order-price-tips{
    margin-top: 5px;
    color: #909090;
}
.order-price-num{
    color: #ee5c67;
    font-size: 17px;
    font-weight: 600;
}
.order-operation-box{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0,-50%);
}
.order-operation-box>li{
    margin-bottom: 15px;
}
.order-operation-box>li>span{
    color: #50a0e7;
    cursor: pointer;
}
.order-operation-box>li:last-child{
    margin-bottom: 0;
}
.order-operation-box>li>.order-operation-btn{
    display: block;
    height: 26px;
    width: 86px;
    margin: auto;
    line-height: 26px;
    background: #f66061;
    color: #fff;
    cursor: pointer;
}
.payment-deadline{
    color: #f46263;
    margin-right: 30px;
}
.payment-deadline i{
    margin-right: 5px;
}
.footer{
    margin-top: 0;
}
#TipsModal .modal-dialog{
    width: 450px;
    color: #0c0c0c;
    font-size: 14px;
}
#TipsModal .modal-body{
    padding: 0 30px;
}
.tips-header{
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #eaeaea;
    margin-top: 10px;
}
.tips-header>img{
    position: absolute;
    right: 0;
    top: 18px;
    height: 14px;
    width: 14px;
    cursor: pointer;
}
.tips-text{
    font-size: 14px;
    padding: 20px 33px;
    color: #595959;
}
.tips-btn{
    padding-top: 10px;
    padding-bottom: 40px;
}
.tips-btn>span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 140px;
    text-align: center;
    border: 1px solid #dedede;
    color: #777777;
    font-size: 14px;
    cursor: pointer;
}
.tips-btn>span:first-child{
    margin-right: 50px;
    background: #2798d0;
    border-color: #2798d0;
    color: #fff;
}
.contact{
    color: #2699d0;
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}
.order-help-long{
    width: 250px;
}
.cost-detailed>li>.order-explain{
    color: #4B4B4B;
}
.order-detail-header>img{
    cursor: pointer;
}
#IdentityModal{
    color: #0c0c0c;
    font-size: 14px;
}
.identity-close>img{
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.identity-title{
    font-size: 18px;
    padding-bottom: 15px;
}
.identity-subtitle{
    padding-bottom: 50px;
}
.identity-item{
    position: relative;
    height: 34px;
    padding-left: 110px;
    padding-right: 10px;
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
}
.identity-name{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 34px;
    line-height: 34px;
    text-align: right;
}
.identity-input{
    height: 100%;
    width: 100%;
    border: 1px solid #E0E1E1;
}
.identity-input>input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 15px;
}
.identity-btn{
    height: 40px;
    line-height: 40px;
    width: 200px;
    text-align: center;
    background: #2699CF;
    color: #fff;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.identity-btn:hover{
    background: #2783AF;
}