.page{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    list-style: none;
    overflow: hidden;
    text-align: center;
    margin: auto;
    font-size: 14px;
    white-space: nowrap;
}
.page>li{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #f1f1f1;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #2598cf;
    margin: 5px;
    background-color: #2598cf;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #2598cf;
    background-color: #2598cf;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #f1f1f1;
    margin: 5px;
    background-color: #f1f1f1;
}