html,body{
    height: 100%;
    width: 100%;
    min-width: 1180px;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    background: url("../img/register.jpg") no-repeat center/cover;
}
.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 560px;
    background: #fff;
    padding: 30px 50px;
}
.box-num-parent{
    overflow: hidden;
    width: 360px;
    margin: auto;
}
.box-num-parent>li {
    float: left;
    font-size: 14px;
    color: #747474;
    width: 100px;
    position: relative;
    margin-right: 30px;
    text-align: center;
}
.box-num-parent>li:last-child{
    margin-right: 0;
}
.box-num-parent>li>div{
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin: 14px auto;
    border-radius: 50%;
    border: 1px solid #747474;
    color: #747474;
    font-size: 14px;
}
.box-num1:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 50px;
    background-color: #e5e5e5;
    top: 28px;
    left: 65px;
}
.box-num2:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 50px;
    background-color: #e5e5e5;
    top: 28px;
    left: 65px;
}
.box-num2:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 50px;
    background-color: #e5e5e5;
    top: 28px;
    left: -15px;
}
.box-num3:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 50px;
    background-color: #e5e5e5;
    top: 28px;
    left: -15px;
}
.box-num-parent>.box-num-complate{
    color: #2897ce;
}
.box-num-parent>.box-num-complate>div{
    border: 1px solid #2897ce;
    color: #2897ce;
}
.box-num-complate>div:after,.box-num-complate>div:before{
    background-color: #2897ce;
}
.box-num-complate>div>img{
    position: relative;
    top: -1px;
    width: 15px;
    height: auto;
}
.login-modal-form{
    position: relative;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e2e2e2;
    margin-top: 20px;
}
.bind-modal-form{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e2e2e2;
    margin-top: 20px;
    color: #2e3337;
}
.login-modal-menu,.bind-modal-menu{
    position: absolute;
    left: -1px;
    top: 39px;
    z-index: 100000;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-top: none;
    display: none;
}
.login-modal-menu>li,.bind-modal-menu>li{
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-size: 14px;
    color: #252525;
    cursor: pointer;
}
.login-modal-menu>li:hover,.bind-modal-menu>li:hover{
    background: #f7f7f7;
}
.padding-100{
    padding-left: 100px;
}
.padding-right-100{
    padding-right: 100px;
}
.login-modal-left{
    position: absolute;
    left: 0;
    top: 1px;
    width: 100px;
    text-align: center;
    line-height: 38px;
    border-right: 1px solid #e0e0e0;
    color: #252525;
    font-size: 14px;
    padding-right: 20px;
    background: url("../img/down.png") no-repeat center right 10px;
}
.bind-modal-right{
    position: absolute;
    right: 0;
    top: 1px;
    width: 100px;
    text-align: center;
    line-height: 38px;
    border-left: 1px solid #e0e0e0;
    color: #252525;
    font-size: 14px;
    padding-right: 20px;
    background: url("../img/down.png") no-repeat center right 10px;
}
.bind-modal-left{
    padding: 0 15px;
    line-height: 40px;
}
.login-modal-right{
    width: 100%;
    height: 100%;
}
.login-modal-right>input{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
    font-size: 14px;
}
.login-modal-form input::-webkit-input-placeholder, .login-modal-form textarea::-webkit-input-placeholder {
    color: #cacaca!important;
}

.login-modal-form input:-ms-input-placeholder, .login-modal-form textarea:-ms-input-placeholder {
    color: #cacaca!important;
}
.bind-modal-form input::-webkit-input-placeholder, .bind-modal-form textarea::-webkit-input-placeholder {
    color: #cacaca!important;
}

.bind-modal-form input:-ms-input-placeholder, .bind-modal-form textarea:-ms-input-placeholder {
    color: #cacaca!important;
}
.login-modal-tips{
    padding-top: 20px;
    color: #e56983;
    font-size: 14px;
    visibility: hidden;
    padding-left: 80px;
}
.login-input label{
    font-weight: normal;
    font-size: 14px;
    color: #cacaca;
    position: relative;
    top: -1px;
}
.login-input-parent{
    margin-top: 20px;
}
.login-modal-btn{
    height: 42px;
    width: 100%;
    background: #2598cf;
    color: #fff;
    text-align: center;
    line-height: 42px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;-webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.login-modal-btn:hover{
    background: #2783AF;
}
.login-modal-href{
    overflow: hidden;
    padding-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}
.login-modal-href>.pull-left{
    color: #e56983;
}
.login-modal-href>.pull-right{
    color: #a6a6a6;
}
.bind-modal-item{
    position: relative;
    padding-left: 120px;
}
.bind-modal-item>span{
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    color: #3b454a;
}
.line_02{
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}
.specil-modal-form{
    border: none;
    padding-right: 140px;
}
.specil-modal-form>.login-modal-right {
    border: 1px solid #e2e2e2;
}
.bind-modal-code{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #2699cf;
    cursor: pointer;
    font-size: 14px;cursor: pointer;-webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.bind-modal-code:hover{
    background: #2783AF;
}
.default{
    pointer-events: none;
}
.login-input>label{
    position: relative;
    top: 1px;
    color: #b8b8b8;
}
.login-input>label a:hover,.login-input>label a:focus{
    text-decoration: none;
}
.box-content{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}
.box-success>img{
    width: 90px;
    height: 90px;
}
.box-success>p{
    padding-top: 15px;
    font-size: 18px;
}
.box-success>div{
    color: #9F9F9F;
}
.box-success>a{
    display: block;
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #2698CE;
    color: #fff;
    margin: auto;
    margin-top: 30px;cursor: pointer;-webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.box-success>a:focus,.box-success>a:hover{
    text-decoration: none;
    background: #2783AF;
}