.bread{
    width: 1200px;
    margin: auto;
    padding: 15px 0;
    border-top: 1px solid #e5e5e5;
}
.bread>a{
    color: #464646;
}
.bread>a:after {
    position: relative;
    top: 1px;
    content: "\f105";
    width: 18px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: #a2a2a2;
    font-family: FontAwesome;
    margin: 0 3px;
}
.bread>a:last-child:after{
    display: none;
}
.bread>a:focus,.bread>a:hover{
    text-decoration: none;
}
.section{
    background: #cfeaf5;
    padding-top: 30px;
}
.order-content{
    width: 1200px;
    margin: auto;
    padding-bottom: 30px;
    overflow: hidden;
}
.order-aside{
    width: 190px;
    height: 320px;
    background: #fff;
    float: left;
    padding-top: 40px;
}
.order-section{
    padding: 20px 50px;
    width: 990px;
    min-height: 600px;
    float: right;
    background-color: #fff;
}
.collection-section{
    padding: 20px 30px;
}
.order-aside-title{
    font-size: 17px;
    font-weight: bold;
    color: #000;
    padding-left: 60px;
    margin-bottom: 20px;
}
.order-aside-list>li{
    padding-left: 60px;
    height: 30px;
    line-height: 30px;
    color: #4e4e4e;
    font-size: 14px;
    cursor: pointer;
    border-left: 4px solid transparent;
    margin-bottom: 15px;
}
.order-aside-list>li:last-child{
    margin-bottom: 0;
}
.order-aside-list>li.order-aside-active{
    border-left: 4px solid #2799cf;
    color: #2799cf;
}
.footer{
    margin-top: 0;
}
.setting-header{
    padding-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
    color: #000000;
}
.setting-content{
    padding-left: 100px;
    padding-top: 50px;
}
.setting-item{
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 170px;
    margin-bottom: 60px;
}
.setting-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    height: 40px;
    color: #000;
    text-align: right;
}
.setting-right{
    position: relative;
    width: 300px;
    height: 100%;
}
.setting-right>input{
    width: 100%;
    height: 100%;
    border: 1px solid #E1E1E1;
    outline: none;
    padding: 0 15px;
}
.setting-right>input:focus{
    border-color: #2799cf;
}
.setting-forget{
    position: absolute;
    right: -180px;
    top: 0;
    color: #F05D6F;
    font-size: 14px;
}
.setting-forget:hover,.setting-forget:focus{
    text-decoration: none;
    color: #F05D6F;
}
.setting-tips{
    position: absolute;
    left: 0;
    top: 45px;
    font-size: 14px;
    color: #F05D6F;
    display: none;
}
.setting-btn{
    height: 40px;
    width: 300px;
    line-height: 40px;
    text-align: center;
    background-color: #2698CE;
    color: #fff;
    margin-top: 90px;
    margin-left: 220px;
    cursor: pointer;
}
.collection-tab{
    padding-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
}
.collection-tab>span{
    padding: 5px 0;
    font-size: 15px;
    cursor: pointer;
}
.collection-tab>span:last-child{
    margin-left: 20px;
}
.collection-active{
    color: #2698CE;
}
.collection-housing-item{
    position: relative;
    height: 164px;
    padding: 15px 198px;
    padding-right: 120px;
    border-bottom: 1px dotted #eaeaea;
}
.collection-information-item{
    position: relative;
    height: 164px;
    padding: 15px 198px;
    padding-right: 0;
    border-bottom: 1px dotted #eaeaea;
}
.collection-housing-item>img{
    position: absolute;
    left: 0;
    top: 15px;
    width: 178px;
    height: 134px;
}
.collection-information-item>img{
    position: absolute;
    left: 0;
    top: 15px;
    width: 178px;
    height: 134px;
}
.collection-housing-right{
    position: absolute;
    right: 0;
    top: 15px;
    height: 134px;
    line-height: 134px;
    font-size: 18px;
    color: #f05c72;
    font-weight: 600;
}
.collection-housing-center{
    height: 100%;
    width: 100%;
}
.collection-housing-center>a{
    display: block;
    color: #010101;
    font-weight: bold;
    margin: 10px 0 0 0;
    font-size: 18px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.collection-housing-center>a:hover{
    color: #0A67A7;
}
.list-section-tips{
    padding: 20px 0;
}
.list-section-tips>span {
    display: inline-block;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 15px;
}
.list-section-tips>span:last-child{
    margin-right: 0;
}
.color_1{
    background: #bfc3e0;
    color: #3f398f;
}
.color_2{
    background: #c5c0de;
    color: #5d3a94;
}
.color_3{
    background: #c8ddf0;
    color: #16618b;
}
.list-section-distance{
    font-size: 14px;
    margin-top: 5px;
}
.list-section-distance>span{
    margin-right: 20px;
}
.list-section-distance>span>img{
    position: relative;
    top: -3px;
    margin-right: 5px;
}
.list-section-distance>a{
    margin-left: 15px;
}

.list-section-distance>a>img{
    position: relative;
    top:-3px;
}
.list-distance-place{
    color: #643b97;
}
.cancel-collet,.cancel-information{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}
.collection-housing-item:hover>.cancel-collet{
    display: block;
}
.collection-information-item:hover>.cancel-information{
    display: block;
}
.collection-2{
    display: none;
}
.collection-tab>span:focus{
    outline: none;
}
.collection-information-center{
    height: 100%;
    width: 100%;
}
.collection-information-center>h4{
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #000;
    cursor: pointer;
}
.collection-information-center>h4:hover{
    text-decoration: underline;
    color: #0A67A7;
}
.collection-information-center>.news-text {
    line-height: 25px;
    font-size: 14px;
    color: #878787;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 50px;
}
.news-author{
    margin-top: 15px;
    font-size: 13px;
    color: #c4c4c6;;
}